.footer{

    padding:70px 8% 35px;

    border-top:1px solid rgba(255,255,255,.08);

    background:rgba(255,255,255,.02);

    backdrop-filter:blur(20px);

}

.footer-content{

    display:flex;

    justify-content:space-between;

    align-items:flex-start;

    gap:60px;

    margin-bottom:50px;

}

.footer-logo h2{

    font-size:42px;

    color:#8E00FB;

    margin-bottom:15px;

}

.footer-logo p{

    color:#9CA3AF;

    line-height:1.8;

    max-width:380px;

}

.footer-links{

    display:grid;

    grid-template-columns:repeat(2,auto);

    gap:18px 50px;

}

.footer-links a{

    color:#D4D4D8;

    text-decoration:none;

    transition:.3s;

    position:relative;

}

.footer-links a::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-5px;

    width:0;

    height:2px;

    background:#8E00FB;

    transition:.3s;

}

.footer-links a:hover{

    color:#8E00FB;

}

.footer-links a:hover::after{

    width:100%;

}

.footer-bottom{

    border-top:1px solid rgba(255,255,255,.08);

    padding-top:25px;

    text-align:center;

}

.footer-bottom p{

    color:#7C7C86;

    font-size:15px;

}

@media(max-width:900px){

.footer-content{

flex-direction:column;

gap:40px;

}

.footer-links{

grid-template-columns:1fr;

}

}

@media(max-width:600px){

.footer{

padding:60px 6% 30px;

}

.footer-logo h2{

font-size:34px;

}

}